src/automation/n8n/workflows/daily_branch_report.json
{
  "name": "Daily Branch Report",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "http-request",
      "name": "Fetch Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/v1/reports/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "report_body",
              "value": "=Daily Branch Report - {{ $json.date }}\n\nTotal Sales: {{ $json.summary.total_sales }} SAR\nTotal Orders: {{ $json.summary.total_orders }}\n\nBranches:\n{{ $json.branches.map(b => '  ' + b.branch_name + ': ' + b.total_sales + ' SAR (' + b.order_count + ' orders)').join('\\n') }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'reports@company.com' }}",
        "toEmail": "={{ $env.REPORT_EMAIL || 'ops@company.com' }}",
        "subject": "=Daily Branch Report - {{ $json.date }}",
        "text": "={{ $json.report_body }}"
      }
    },
    {
      "id": "send-alert",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 420],
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'alerts@company.com' }}",
        "toEmail": "={{ $env.REPORT_EMAIL || 'ops@company.com' }}",
        "subject": "=Daily Report FAILED - {{ $now.format('yyyy-MM-dd') }}",
        "text": "=Failed to generate daily branch report. Error: {{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Report": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "basira",
      "id": "1"
    }
  ]
}
